{% extends 'blog/vlog_base.html' %}
{% load embed_video_tags %}
{% block title_tag %}
{{vlog.title}}
{% endblock title_tag %}

{% block og_title %}
  <meta property="og:title" content="Natural & Glamorous | {{vlog.title}}" />
{% endblock og_title %}

{% if vlog.video_url %}
{% block og_video %}
{% video vlog.video_url as video %}              
<meta property="og:type" content="video">
<meta property="og:video" content="{{video.url}}">
<meta property="og:video:type" content="application/x-shockwave-flash">
<meta property="og:site_name" content="YouTube">
 {% endvideo %}
{% endblock og_video %}
{% endif %}


    {% block vlog_breadcrumbs %}
    
          <h2>Vlog</h2>
          <ol>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'blog:vlog_list' %}">Vlogs</a></li>
          <li>Article</li>
          </ol>
    {% endblock vlog_breadcrumbs %}

    {% block vlog_content %}
              <article class="entry entry-single" data-aos="fade-up">

                          <div class="entry-img">
                          {% if vlog.video_url %}
                            {% video vlog.video_url as video %}
                              <iframe width="100%" height="400px"
                                  src="{{video.url}}">
                                </iframe>
                              {% endvideo %}
                          {% elif vlog.header_img %}
                            <img class="img-fluid" src="{{vlog.header_img.url}}" alt="Card image cap">
                          {% endif %}
                          </div>

                          <h2 class="entry-title">
                            {{vlog.title}}
                          </h2>

                          <div class="entry-meta">
                            <ul>
                              <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <a href="blog-single.html"><time datetime="2020-01-01">{{vlog.created_at.date}}</time></a></li>
                            </ul>
                          </div>

                          <div class="entry-content">
                            <p>
                              {{vlog.description|safe}}
                            </p>
                            
                          <div class="entry-footer clearfix">
                            <div class="float-left">
                              <i class="icofont-folder"></i>
                              <ul class="cats">
                                {% for cat in vlog.categories.all  %}
                                <li><a href="{% url 'blog:filtered_vlog_list' slug=cat.slug %}">{{cat.name}}</a></li>
                                {% endfor %}
                              </ul>

                              {% comment %} <i class="icofont-tags"></i>
                              <ul class="tags">
                                <li><a href="#">Creative</a></li>
                                <li><a href="#">Tips</a></li>
                                <li><a href="#">Marketing</a></li>
                              </ul> {% endcomment %}
                            </div>

                            <div class="float-right share">
                              <a href="https://twitter.com/home?status=https://www.naturalandglamorous.com/{{request.get_full_path}}" title="Share on Twitter" target="_blank"><i class="icofont-twitter"></i></a>
                              <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.naturalandglamorous.com/{{request.get_full_path}}" title="Share on Facebook" target="_blank"><i class="icofont-facebook"></i></a>
                            </div>

                          </div>

                        </article><!-- End blog entry -->

    {% endblock vlog_content %} 
