{% extends 'blog/vlog_base.html' %}

{% block title_tag %}
Vlogs | {{category.name}}
{% endblock title_tag %}

{% load embed_video_tags %}

  {% block vlog_breadcrumbs %}
  
      <h2>{{category.name}} Vlogs</h2>
      <ol>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'blog:vlog_list' %}">Vlogs</a></li>
        <li>{{category.name}}</li>
      </ol>
    {% endblock vlog_breadcrumbs %}

    {% block vlog_content %}
    

      {% for vlog in vlogs  %}

        <article class="entry" data-aos="fade-up">

          <div class="entry-img">
            {% if vlog.video_url %}
              {% video vlog.video_url as video %}
                <iframe width="100%" height="400px"
                    src="{{video.url}}">
                  </iframe>
                {% endvideo %}
            {% elif vlog.header_img %}
              <img class="img-fluid" src="{{vlog.header_img.url}}" alt="Card image cap">
            {% endif %}
          </div>
        <h2 class="entry-title">
          <a href="{% url 'blog:vlog_detail' slug=vlog.slug %}">{{vlog.title}}</a>
        </h2>

        <div class="entry-content">
          <p>
            {{vlog.description|safe|truncatechars:"150"}}
          </p>
          <div class="read-more">
            <a href="{% url 'blog:vlog_detail' slug=vlog.slug %}">Read More</a>
          </div>
        </div>
      </article><!-- End blog entry -->
      
      {% endfor %}

    {% endblock vlog_content %}


