{% extends 'shop/shop_base.html' %}
{% load static %}

{% block title_tag %} {{product.name}} {% endblock title_tag %}

{% block shop_crumbs %}
    <li><a href="">Shop</a></li>
    <li>{{product.name}}</li>
{% endblock shop_crumbs %}

{% block shop_content %}
{% if products.count == 0  %}
<div class="text-center">
<h1>Coming Soon!</h1>
{% else %}
        <div class="row">
{% for product in products %}
        <div class="col-lg-4">
            <div class="card">
                <img class="card-img-top product-list-img" src="{{product.def_img.url}}" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title ">{{product.name}}</h4>
                    <p class="card-text">{{product.description |truncatewords_html:10|safe}}<small><button type="button" class="btn prod-info-btn">More Info</button></small></p>
                    <p class="card-text text-center">${{product.price}}</p>
                    <form method="POST" action="{% url 'cart:add_to_cart' %}" class="js-add-to-cart-direct text-center">
                        {% csrf_token %}
                        <input
                        type="hidden"
                        id="product_id"
                        name="product_id"
                        class="form-control"
                        value="{{product.id}}"
                        />
                        <div class="input-group">
                            <input
                            style="max-width: 65px; margin-left:25%;"
                            type="number"
                            id="quantity"
                            name="quantity"
                            class="form-control"
                            min="1"
                            step="1"
                            value="1"
                            />
                            <span class="input-group-btn">
                                <button
                                class="btn btn-teal"
                                type="submit"
                                >
                                Add to Cart
                                </button> 
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>



{% endfor %}
</div>

{% endif %}
 
{% endblock shop_content %}



