{% extends 'shop/shop_base.html' %}
{% load static %}

{% block title_tag %} {{product.name}} {% endblock title_tag %}

{% block shop_crumbs %}
    <li><a href="">Shop</a></li>
    <li>{{product.name}}</li>
{% endblock shop_crumbs %}

{% block shop_content %}

        <div class="row">
            <div class="col-md-6">
                <img class="img-fluid" src="{{product.def_img.url}}" alt="{{product.name}}">
            </div>

        <div class="col-md-6">
            <div class="card prod-detail-card">
                <div class="card-body">
                    <h4 class="card-title prod-detail-title">{{product.name}}</h4>
                    <p class="card-text prod-detail-description">{{product.description|safe}}</p>
                    <p class="card-text text-center prod-detail-price"><strong>${{product.price}}</strong></p>
                    <form method="POST" action="{% url 'cart:add_to_cart' %}" class="js-add-to-cart-direct text-center">
                        {% csrf_token %}
                        <input
                        type="hidden"
                        id="product_id"
                        name="product_id"
                        class="form-control"
                        value="{{product.id}}"
                        />
                        <div class="input-group">
                            <input
                            style="max-width: 65px; margin-left:25%;"
                            type="number"
                            id="quantity"
                            name="quantity"
                            class="form-control"
                            min="1"
                            step="1"
                            value="1"
                            />
                            <span class="input-group-btn">
                                <button
                                class="btn btn-teal"
                                type="submit"
                                >
                                Add to Cart
                                </button> 
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</div>

 
{% endblock shop_content %}



