{% extends 'shop/shop_base.html' %}
{% load static %}

{% block title_tag %} Thank You {% endblock title_tag %}

{% block shop_crumbs %}
    <li><a href="">Shop</a></li>
    <li>Thank You</li>
{% endblock shop_crumbs %}

{% block shop_content %}

        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Thank You!</h1>
                <h3>We appreciate your order! You will be emailed tracking information as soon as your order ships.</h3>
            </div>


</div>

 
{% endblock shop_content %}



